.grid-button {
    padding: 6px;
    background-color: #697586 !important;
    border-radius: 16px;
  }
  
  .grid-button:hover {
    background-color: #4d6273 !important;
  }
  
  .grid-button .MuiButton-text {
    color: white !important;
    font-size: 12px;
  }
  
  .grid-button .MuiButton-startIcon {
    color: white !important;
    font-size: 12px;
  }
  
  .grid-button-box {
    color: inherit;
    text-decoration: none;
  }
  