.form-container{
    border: solid;
    width: 84%;
    position: absolute;
    margin-left: 15.2%;
    margin-top: 5%;
    height: 87vh;
    overflow-x: hidden;
    max-width: 100%;
}

.form-box{
    position: relative;
    left: 30%;
    top: 40px;
    max-width: 100%;
}

.form-field-name{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}